<div class="container assistance">
    <div class="row">
        <div class="col">
            <h2 id="assistance">Moon Assistance Program</h2>
        </div>
    </div>
    <div class="row assistance__content">
        <div class="col-12">
            <p><strong>Moon</strong> is a mature solution being used for running thousands of tests per day. We are sure Moon is fast and stable. This is why if you are suffering from unstable Selenium tests - don't hesitate to participate in <strong>Moon Assistance Program</strong>. In this program we help to migrate from your existing Selenium solution to Moon <strong>for free</strong>. Participating to this program includes:</p>
            <ul>
                <li>Free dedicated support channel in your desired team messenger (<a href="https://slack.com/" target="_blank" title="Slack">Slack</a>, <a href="https://telegram.org/" target="_blank" title="Telegram">Telegram</a> and so on);</li>
                <li>Direct communication with Moon developers in case of complicated issues;</li>
                <li>Any number of <strong>free</strong> evaluation license keys of any size until you go to production.</li>
            </ul>
            <p>We know - migrating to another Selenium solution can take months of effort and we are ready to support you during this time. If you are interested in this option - contact us: <a href="mailto:support@aerokube.com" title="Support email">support@aerokube.com</a>.</p>
        </div>
    </div>
</div>
