<div class="container cloud">
    <div class="row">
        <div class="col">
            <h2 id="cloud">Moon Cloud</h2>
        </div>
    </div>
    <div class="row cloud__content">
        <div class="col-12">
            <p>Don't have your own Kubernetes cluster but still want to use Moon? This is now possible with <strong>Moon Cloud</strong> solution. How it works:</p>
            <ol>
                <li>You choose one of supported cloud platforms: <a href="https://aws.amazon.com/" target="_blank" title="Amazon Web Services">Amazon Web Services</a>, <a href="https://cloud.google.com/" target="_blank" title="Google Cloud">Google Cloud</a> or <a href="https://azure.microsoft.com/" target="_blank" title="Microsoft Azure">Microsoft Azure</a>;</li>
                <li>We deploy and maintain a dedicated Moon cluster for you;</li>
                <li>You pay the <strong>regular cloud billing + 25%</strong>. No need to purchase Moon license.</li>
            </ol>
            <p>This approach gives you a lot of flexibility:</p>
            <ul>
                <li><strong>Unlimited.</strong> Run as many parallel sessions as needed at any moment of time;</li>
                <li><strong>Cost efficient.</strong> Per-minute billing and <a href="https://en.wikipedia.org/wiki/Autoscaling" target="_blank" title="Auto-scaling">auto-scaling</a> allow to dramatically decrease cluster cost;</li>
                <li><strong>Secure.</strong> We deliver a dedicated cluster that can optionally run in your <a href="https://en.wikipedia.org/wiki/Virtual_private_cloud" target="_blank" title="Virtual network">virtual network</a> and save data to <a href="https://en.wikipedia.org/wiki/Amazon_S3" target="_blank" title="S3">S3</a> bucket you fully control;</li>
                <li><strong>No ugly tunnels.</strong> Use all regular cloud network connectivity features to connect Moon cluster to your corporate network.</li>
            </ul>
            <p>How it looks like:</p>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/dK1V80HuPyU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>How much does it cost? It certainly depends on selected cloud platform and your usage pattern. Some example cases are shown below:</p>
            <p class="case">AWS, 50 parallel sessions, 7 hours ~ $250/month</p>
            <p class="case">Google Cloud, 50 parallel sessions, 7 hours ~ $200/month</p>
            <p class="case">Microsoft Azure, 50 parallel sessions, 7 hours ~ $220/month</p>
            <p>If you are interested in trying <strong>Moon Cloud</strong> - contact us: <a href="mailto:support@aerokube.com" title="Support email">support@aerokube.com</a>.</p>
        </div>
    </div>
</div>
