<form class="feedback" id="license-form">
    <div>
        <label for="feedback-email" class="feedback__title">
            Receive your free one month<br />evaluation key
        </label>
        <div class="feedback__input-container">
            <input id="feedback-email" name="email" type="email" class="input input_feedback" placeholder="Your e-mail">
            <input type="submit" class="button button_feedback g-recaptcha" data-sitekey="6Lf9rrQUAAAAAKEqzSGM7jXYvAlQzyT8wwQX6foW" data-callback="onSubmit" value="Try for free">
        </div>
    </div>
</form>
